@import "../../../../style.scss";

.ResetPasswordConatiner{

    padding: 50px;

    background: $inputBlue;

    border-radius: 8px;

    display: flex;
    flex-direction: column;

    .ResetInputScreen{
       
        height: 25px;
        background: $greyColor;
        font-size: 17px;
        margin-bottom: 40px;
        height: 50px;
        width: 350px;
        color: $LightBlueBg;
        outline: none;
        border: none;
        border-radius: 6px;
        padding-left: 20px;
        font-family: $roboto;
        font-weight: 600;
        letter-spacing: 0.17rem;
        &:focus{
            outline: none;
        }
    }

    .OTPBtn{
              
        border-radius: 15px;
        color: $greyColor;
        background: $BluePurple;
        cursor: pointer;
        width: 150px;
        height: 50px;
        font-family: $roboto;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.2rem;
        font-weight: 600;

        margin-bottom: 30px;

        &:hover{
            color: $white;
        }
    }

    .ResetError{
        font-size: 19px;
        letter-spacing: 0.15rem;
        font-family: $roboto;
        color: $errorColor;
        font-weight: 600;
    }

}