@import "../../../../style.scss";

.OTPSuccessHolder{

    padding: 50px;
    background: $green;
    color: $LightBlueBg;
    font-size: 16px;
    letter-spacing: 0.2rem;
    font-family: $roboto;
    border-radius: 10px;
    font-weight: 650;
    
}