@import "../../../style.scss";

.Container {
  width: 100vw;
  background: $iupuiBg;
  display: flex;
  height: 88vh;
  .CardContainer {
    box-sizing: border-box;
    overflow-y: auto;
    width: 55%;
    height: 100%;
    padding: 50px;
    text-align: center;
    .Desc {
      font-family: $roboto;
      color: $white;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.15rem;
      margin-bottom: 50px;
    }
    .CardGrid {
      display: grid;

      grid-template-columns: repeat(3, 1fr);

      grid-auto-rows: auto;

      grid-gap: 1rem;
    }
  }
  .CardContentContainer {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .CardContent{
      background: $inputBlue;
      height: 95%;
      width: 90%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .InActiveCard{
          color: $LightBlueBg;
          font-family: $roboto;
          font-size: 16px;
          letter-spacing: 0.13rem;
          width: 90%;
          font-weight: 700;
          text-align: center;
      }
      .dataHolder{
        display: flex;
        flex-direction: column;
        //justify-content: flex-start;
        p{
          font-size: 16px;
          font-weight: 650;
          margin-bottom: 3px;
          letter-spacing: 0.16rem;
          color: $LightBlueBg;
          // max-width: 90%;
          margin-left: 8px;
          font-family: $roboto;
          
        }
      }
    }
  }
}
