@import "../../../style.scss";

.HeaderContainer{
    width: 100vw;
    height: 12vh;
    display: flex;
    background: $iupuiBg;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid grey;
    box-sizing: border-box;
    .ProjectName{
        font-family: $roboto;
        font-size: 18px;
        color: $white;
        letter-spacing: 0.12rem;
        margin-left: 20px;
        cursor: pointer;
        font-weight: 500;
    }
    .HeaderSearchBar{
        width: 400px;
        height: 40px;
        border: none;
        background: $RadiumGreen;
        padding-left: 15px;
        color: $LightBlueBg;
        font-size: 16px;
        letter-spacing: 0.14rem;
        font-weight: 600;
        padding-top: 3px;
        font-family: $roboto;
        border-radius: 30px;
        outline: none;
        &:hover{
            outline: none;
        }
    }
    .NavContainer{
        width: 35%;
        padding-left: 15px;
        padding-right: 40px;
        display: flex;
        height: 100%;
        // align-items: center;
        // justify-content: space-between;
        // justify-content: flex-end;
        .NavElement{
            font-family: $roboto;
            font-size: 16px;
            letter-spacing: 0.13rem;
            cursor: pointer;
            color: $LightBlueBg;
            font-weight: 600;
            height: 70%;
            padding-left: 25px;
            padding-right: 25px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            background: $inputBlue;
            display: flex;
            align-items: center;
            text-decoration: none;
            &:hover{
                background: $BluePurple;
            }
        }
        .ActiveNavIcon{
            background: $BluePurple;
            color: $secondaryWhite;
        }
    }
}