@import "../../../style.scss";

.globalCardContainer{
    box-sizing: border-box;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    width: 220px;
    cursor: pointer;
    background: $BluePurple;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 25px;
    .circularNob{
        width:20px;
        height: 20px;
        background: $white;
        border-radius: 50%;
        margin-right: 8px;
        margin-left: 10px;
    }
    .darkCircle{
        background: $green;
        box-shadow: $smallShadow;
    }
    .CardContent{
        font-family: $roboto;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1rem;

    }
    &:hover{
        background: $LightBlueBg;
    }
}