$BlueBg: linear-gradient(-90deg, #02203c, #001528);
$white: #fff;
$LightBlueBg: #15314b;
$BluePurple: #626ee3;
$RadiumGreen:rgb(127, 219, 202);
$Purple: #6A00A8;
$green:linear-gradient(#04ff00, #369536);

// fonts
$roboto: "Roboto";

$smallShadow: 0 2px 5px -1px rgb(0, 0, 0);
